@import url(../../index.css);

.HomeBlog{
    padding-block: 30px;
    display: flex;
    flex-direction: column;
}
.HomeBlog > div:nth-child(1){
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    text-transform: capitalize;
}.HomeBlog > div:nth-child(1) h3{
    font-family: var(--font-Inconsolata);
    opacity: .7;
    font-size: 15.5px;
}.HomeBlog > div:nth-child(1) h2{
    font-family: var(--font-poppins);
    font-size: 24.7px;
    position: relative;
}.HomeBlog > div:nth-child(1) h2::before{
    position: absolute;
    content: "";
    width: 100%;
    opacity: .6;
    height: .5px;
    background-color: grey;
    left: 0;
    bottom: 0;
    margin-bottom: -13px;
}.HomeBlog > div:nth-child(2){
    display: flex;
    flex-direction: column;
}.HomeBlog > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}.HomeBlog > div:nth-child(2) > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 36px;
}.HomeBlog > div:nth-child(2) > div > div:nth-child(2) h3{
    color: blue;
    font-size: 14.5px;
    padding-top: 15px;
    text-transform: capitalize;
    opacity: .7;
}.HomeBlog > div:nth-child(2) > div > div:nth-child(2) p{
    font-weight: 800;
    font-family: var(--font-Inconsolata);
}.HomeBlog> div:nth-child(2) > div >div:nth-child(1) img:hover{
    filter: grayscale(80%);
}.HomeBlog> div:nth-child(2) > div >div:nth-child(1) img{
    transition: filter ,.5s ease-in-out;
}
@media (min-width:590px) {
    .HomeBlog > div:nth-child(1) h2{
        font-size: 40px;
    }
}
@media (min-width:800px) {
    .HomeBlog >div:nth-child(2){
        flex-direction: row;
        gap: 10px;
    } .HomeBlog >div:nth-child(2) > div {
        width: 33.3%;

    } .HomeBlog >div:nth-child(2) > div >div:nth-child(1){
        height: 50%;
    }
}
@media (min-width:1280px) {
    .HomeBlog >div:nth-child(2) > div >div:nth-child(1){
        height: 70% ;
    }
    .HomeBlog >div:nth-child(2) > div >div:nth-child(2){
        height: 30% ;
    } .HomeBlog >div:nth-child(2){
        padding-block: 56px;
    }.HomeBlog >div:nth-child(1){
        padding-block: 80px;
    }.HomeBlog > div:nth-child(2) > div > div:nth-child(2) p{
        font-size: 21px;
    }
}